<div id="search">
	<input type="text" class="form-control" placeholder="Hae..." ng-model="$root.search" ng-change="runFilter()">

	<a class="clear-btn glyphicon glyphicon-remove" ng-if="$root.search.trim().length" ng-click="runFilter('')"></a>
</div>

<ul id="songlist" class="songs-list-group list-group">
	<li class="list-group-item"
	    ng-repeat="song in Songs.sorted"
	    ng-hide="song.$$filtered"
	    ng-class="{ 'active' : $root.$state.params.song_key == song.key }">

		<a ui-sref="index.song({ 'song_key' : song.key })">
			<h4 class="title"><b class="number">{{ song.num }}</b> &ndash; {{ song.title }}</h4>
		</a>
	</li>

	<li class="list-group-item no-results" ng-if="songsCount == 0">
		<b><h4>
				{{ (songsCount == 0) ? 'Ei lauluja :&lt;' : '...' }}
			</h4></b>
	</li>
</ul>
